{{!--
  All you need to do is to: Register your domain with Commento
  https://docs.commento.io/installation/self-hosting/register-your-website/
--}}

<div id='commento' class='u-bg-outline-black u-border u-border-radius'></div>

<script defer data-hide-deleted="true" src="https://commento.hackemate.ninja/js/commento.js"></script>