<div class='c-widget'>
  <div class='c-title-bar'>
    <h3 class='c-title-bar__title'>{{t 'Sponsorship'}}</h3>
  </div>
  <a href='#' class='c-teaser'>
    <div class='c-teaser__content'>
      <h3 class='c-teaser__title'>React native Jobs</h3>
      <p>Find the perfect Job, hundreds of jobs about React native</p>
    </div>
    <div class='c-teaser__media'>
      <img class='c-teaser__image lazyload' alt='react native jobs' data-src='https://www.mindinventory.com/blog/wp-content/uploads/2018/09/react-native-performace1200-1024x512.jpg'>
    </div>
  </a>
</div>