{{!< default}}

{{#post}}
<div class='c-archive'>
  <h1 class='c-archive__title'>All Products</h1>
</div>

<div class='o-grid'>
  {{#get 'posts' filter="featured:true"}}
    {{#foreach posts}}
      {{> post-card-product }}
    {{/foreach}}
  {{/get}}
</div>

{{/post}}