{{!< default}}

{{#post}}

<div class='c-archive'>
  <h1 class='c-archive__title'>Free Lessons</h1>
</div>
<div class='o-grid'>
  {{#get 'posts' filter="visibility:public+featured:false"}}
    {{#foreach posts}}
      {{> post-card-custom }}
    {{/foreach}}
  {{/get}}
</div>


{{/post}}
