{{!< default}}

{{#post}}

  <div class='c-archive'>
    <h1 class='c-archive__title'>Pro Lessons</h1>
  </div>

  <div class='o-grid'>
  {{#get 'posts'}}
    {{#foreach posts visibility='all'}}
      {{#has visibility="paid"}}
        {{> post-card-custom }}
      {{/has}}
    {{/foreach}}
  {{/get}}

  </div>

{{/post}}