/*------------------------------------*\
  Components > Tags List
\*------------------------------------*/

.c-tags-list-container {
  margin-bottom: $space-32;
  background-color: var(--bg-white);
  box-shadow: 0 4px 12px rgba(0, 0, 0, .04);
}

.c-tags-list-wrap {
  position: relative;

  &:after {
    position: absolute;
    top: 50%;
    right: 0;
    content: '';
    height: $space-16;
    width: $space-24;
    background: var(--bg-tag-list);
    transform: translate(0, -50%);
  }
}

.c-tags-list {
  display: flex;
  align-items: baseline;

  overflow-x: scroll;
  -ms-overflow-style: none;  // Edge
  scrollbar-width: none;    // Firefox

  &::-webkit-scrollbar { display: none; }

  &:active {
    cursor: grabbing;
  }

  &__item {
    font-size: $type-xs;
    line-height: $type-xs-lh;
    font-weight: $type-600;
    white-space: nowrap;
    letter-spacing: $global-letter-spacing;
  }

  &__link {
    display: block;
    color: var(--color-gray);
    padding: $space-24 0;
    margin-right: $space-16;
    transition: color $global-faster-transition;

    @include mq($from: desktop) {
      margin-right: $space-24;
    }

    &--current {
      color: var(--color-text);
      box-shadow: inset 0 -2px var(--color-text);
    }

    @include attention() {
      color: var(--color-text);
    }
  }
}